<%- include('../components/Header.ejs') %>

<div class="container mx-auto mt-8 p-8 rounded-md mb-24">
    <h1 class="text-3xl font-normal mb-8 text-center">JavaScript Data Types Documentation</h1>

    <section class="mb-8">
        <h2 class="text-2xl mb-4">1. Introduction</h2>
    
        <p class="mb-4">
          Welcome to the documentation for JavaScript Data Types. This section provides an overview of Data Types and their functionality.
        </p>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl mb-4">2. String</h2>
      <p class="mb-4">
        A sequence of characters used to represent text. Enclosed in single or
        double quotes.
      </p>

      <pre class="bg-codeBG p-4 rounded-md overflow-auto">
<code class="text-codeText"><code class="text-codeVariable">const</code> greeting: <code class="text-codeVariable">string</code> = <code class="text-codeString">'Hello, World!'</code>;</code></pre>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl mb-4">3. Number</h2>
      <p class="mb-4">
        Represents numeric values, including integers and floating-point
        numbers.
      </p>

      <pre class="bg-codeBG p-4 rounded-md overflow-auto">
<code class="text-codeText"><code class="text-codeVariable">const</code> age: <code class="text-codeVariable">number</code> = <code class="text-codeString">25</code>;</code></pre>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl mb-4">4. Boolean</h2>
      <p class="mb-4">Represents a logical value - either true or false.</p>

      <pre class="bg-codeBG p-4 rounded-md overflow-auto">
<code class="text-codeText"><code class="text-codeVariable">const</code> isTrue: <code class="text-codeVariable">boolean</code> = <code class="text-codeBoolean">true</code>;</code></pre>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl mb-4">5. Undefined</h2>
      <p class="mb-4">
        Indicates that a variable has been declared but has not been assigned
        a value.
      </p>

      <pre class="bg-codeBG p-4 rounded-md overflow-auto">
<code class="text-codeText"><code class="text-codeVariable">let</code> undefinedVar: <code class="text-codeVariable">undefined</code>;</code></pre>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl mb-4">6. Null</h2>
      <p class="mb-4">Represents the intentional absence of any object value.</p>

      <pre class="bg-codeBG p-4 rounded-md overflow-auto">
<code class="text-codeText"><code class="text-codeVariable">const</code> nullVar: <code class="text-codeVariable">null</code> = <code class="text-codeString">null</code>;</code></pre>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl mb-4">7. Object</h2>
      <p class="mb-4">
        Represents a collection of key-value pairs. Can include properties and
        methods.
      </p>

      <pre class="bg-codeBG p-4 rounded-md overflow-auto">
<code class="text-codeText"><code class="text-codeVariable">const</code> person: { name: <code class="text-codeVariable">string</code>, age: <code class="text-codeVariable">number</code> } = { name: <code class="text-codeString">'John'</code>, age: <code class="text-codeString">30</code> };</code></pre>
    </section>

    <section class="mb-8">
      <h2 class="text-2xl mb-4">8. Array</h2>
      <p class="mb-4">
        An ordered list of values, where each value is identified by an index
        or a key.
      </p>

      <pre class="bg-codeBG p-4 rounded-md overflow-auto">
<code class="text-codeText"><code class="text-codeVariable">const</code> numbers: <code class="text-codeVariable">number</code>[] = [<code class="text-codeString">1</code>, <code class="text-codeString">2</code>, <code class="text-codeString">3</code>, <code class="text-codeString">4</code>, <code class="text-codeString">5</code>];</code></pre>
    </section>

    <section class="mb-8 border-b-2 border-stone-200">
      <h2 class="text-2xl mb-4">9. Date</h2>
      <p class="mb-4">
        Represents a specific point in time, typically with year, month, day,
        hour, minute, second, and millisecond components.
      </p>

      <pre class="bg-codeBG p-4 rounded-md overflow-auto mb-8">
<code class="text-codeText"><code class="text-codeVariable">const</code> currentDate: <code class="text-codeVariable">Date</code> = <code class="text-codeKeyword">new</code> <code class="text-codeVariable">Date</code>();</code></pre>
    </section>
    <div class="flex justify-between">
        <div><%-include('../components/BackButton.ejs')%></div>
        <div class="flex items-center">
          <p class="mr-4">REST API</p>
          <a href="/rest-api"
            ><img src="/svg/arrow.svg" alt="Arrow" height="50" width="50"
          /></a>
        </div>
      </div>
  </div>

<%- include('../components/Footer.ejs') %>