
<%- include('../components/Header.ejs') %>

<div class="flex mt-10 justify-center">
  <div class="text-center">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome To Fullstack First Mandatory Project</h1>
    <p class="text-lg text-gray-600 text-start mb-4">
      Feel free to explore. This is subjects that we have covered in Fullstack class.
    </p>
    <p class='text-start text-gray-600'> We will cover the following subjects: </p>
    <ul class="list-disc text-left text-gray-600 mt-2 list-inside">
      <li><a href="/functions" class='text-blue-500'>Functions</a></li>
      <li><a href="/variables" class='text-blue-500'>Variables and data types</a></li>
      <li><a href="/rest-api" class='text-blue-500'>REST API</a></li>
      <li><a href="/package-json" class='text-blue-500'>Package.json</a></li>
      <li><a href="/html-express" class='text-blue-500'>Serving HTML in express</a></li>
    </ul>
  </div>
</div>

<%- include('../components/Footer.ejs') %>




